<!DOCTYPE html>
<html ng-app="appCliente" lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<base href="/" />
<meta charset="UTF-8" />
<title>Brand</title>
<link rel="stylesheet" type="text/css" href="/vendors/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/vendors/font-awesome-4.6.3/css/font-awesome.min.css" />

</head>
<body ng-controller="mainController">

	<div class="slide-animate" ng-include="'/view/fragments/navBar.html'"></div>

	{{$routeParams}}
	<div ng-view="content"></div>


	<script src="/js/vendors/angular.min.js"></script>
	<script src="/js/vendors/angular-route.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/config/route-config.js"></script>

	<script src="/js/controllers/main-controller.js"></script>
	<script src="/js/controllers/clientes-controller.js"></script>
	<script src="/js/controllers/cliente-edit-controller.js"></script>
	<script src="/js/controllers/cliente-detail-controller.js"></script>

	<script src="/vendors/jQuery/jquery-3.1.1.min.js"></script>
	<script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
