<!DOCTYPE html>
<html ng-app="appCliente">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/vendors/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/vendors/ngDialog/css/ngDialog.min.css" />
<link rel="stylesheet" type="text/css" href="/vendors/ngDialog/css/ngDialog-theme-default.min.css" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />

</head>
<body>

<nav class="navbar navbar-inverse">

</nav>

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
</ol>

<div class="row" style="margin-top: 10px;">
	<div class="col-sm-3  form-group">
		<input type="text" class="form-control" ng-model="cliente.nome"/>
	</div>
	<div class="col-sm-3  form-group">
		<button class="btn  btn-primary" type="submit" ng-click="salvarCliente()">Salvar</button>
		<button class="btn  btn-default" type="submit" ng-click="cancelarAlteracao()">Cancelar</button>
	</div>
</div>

<a href="/#/clientes">Clientes</a>

<div ng-controller="ModalController">
<button class="btn  btn-danger" ng-click="openContactForm()">Novo Cliente</button>
</div>

<div ng-view="ng-view-clientes">

</div>


<script src="/js/vendors/angular.min.js"></script>
<script src="/js/vendors/angular-route.min.js"></script>
<script src="/js/app.js"></script>
<script src="js/config/route-config.js"></script>
<script src="/vendors/ngDialog/js/ngDialog.min.js"></script>

<script src="/js/controllers/modal-controller.js"></script>
<script src="/js/controllers/clientes-controller.js"></script>
<script src="/js/controllers/cliente-edit-controller.js"></script>

<script src="/vendors/jQuery/jquery-3.1.1.min.js"></script>
<script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
